In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('breast-cancer-wisconsin.csv') 
print(data.shape)
data.describe()

(198, 34)

,Colum03,Colum04,Colum05,Colum06,Colum07,Colum08,Colum09,Colum010,Colum011,Colum012,...,Colum027,Colum028,Colum029,Colum030,Colum031,Colum032,Colum033,Colum034,Colum035,Colum02
count,198.000000,198.000000,198.00000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,...,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000,198.000000
mean,46.732323,17.412323,22.27601,114.856566,970.040909,0.102525,0.142727,0.156364,0.087020,0.192727,...,1404.958586,0.143939,0.365152,0.436566,0.178737,0.323687,0.090960,2.847475,3.146465,0.237374
std,34.462870,3.161676,4.29829,21.383402,352.149215,0.013086,0.050052,0.070932,0.034016,0.027898,...,586.006972,0.022522,0.163855,0.173765,0.045251,0.075448,0.021077,1.937964,5.442245,0.426552
min,1.000000,10.950000,10.38000,71.900000,361.600000,0.070000,0.050000,0.020000,0.020000,0.130000,...,508.100000,0.080000,0.050000,0.020000,0.030000,0.160000,0.060000,0.400000,0.000000,0.000000
25%,14.000000,15.052500,19.41250,98.160000,702.525000,0.090000,0.110000,0.110000,0.060000,0.170000,...,947.275000,0.130000,0.250000,0.320000,0.150000,0.280000,0.080000,1.500000,0.000000,0.000000
50%,39.500000,17.290000,21.75000,113.700000,929.100000,0.100000,0.130000,0.150000,0.090000,0.190000,...,1295.000000,0.140000,0.350000,0.400000,0.180000,0.310000,0.090000,2.500000,1.000000,0.000000
75%,72.750000,19.580000,24.65500,129.650000,1193.500000,0.110000,0.170000,0.200000,0.100000,0.210000,...,1694.250000,0.157500,0.420000,0.540000,0.210000,0.360000,0.100000,3.500000,4.000000,0.000000
max,125.000000,27.220000,39.28000,182.100000,2250.000000,0.140000,0.310000,0.430000,0.200000,0.300000,...,3903.000000,0.220000,1.060000,1.170000,0.290000,0.660000,0.210000,10.000000,27.000000,1.000000

In [3]:
target_column = data.columns[33]
predictors = list(set(list(data.columns))-set(target_column))
data[predictors] = data[predictors]/data[predictors].max()

In [4]:
X = data[predictors].values
y = data[target_column].to_numpy().flatten()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(138, 34)
(60, 34)

In [5]:
# Linear
lr = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
lr.fit(X_train, y_train)

LinearRegression(n_jobs=1)

In [6]:
pred_test_lr= lr.predict(X_test)
print("MSE:")
print(np.sqrt(mean_squared_error(y_test,pred_test_lr))) 
print("RSS:")
print(r2_score(y_test, pred_test_lr))

MSE:
3.6189118561916315e-16
RSS:
1.0

In [7]:
# Ridge
rr = Ridge(alpha=0.01)
rr.fit(X_train, y_train) 

pred_test_rr= rr.predict(X_test)
print("-----------------------------\n|Ridge Regression Algorithm|\n-----------------------------")
print("MSE: ",np.sqrt(mean_squared_error(y_test,pred_test_rr))) 
print("RSS: ",r2_score(y_test, pred_test_rr))

-----------------------------
|Ridge Regression Algorithm|
-----------------------------
MSE:  0.0003280759937880675
RSS:  0.9999995025906447

In [8]:
# Lasso
model_lasso = Lasso(alpha=0.01)
model_lasso.fit(X_train, y_train) 

pred_test_lasso= model_lasso.predict(X_test)
print("MSE:")
print(np.sqrt(mean_squared_error(y_test,pred_test_lasso))) 
print("RSS:")
print(r2_score(y_test, pred_test_lasso))

MSE:
0.029610098682781368
RSS:
0.9959482302972855

In [17]:
# Elastic net
model_enet = ElasticNet(alpha = 0.01)
model_enet.fit(X_train, y_train)

pred_test_enet= model_enet.predict(X_test)
print("MSE:")
print(np.sqrt(mean_squared_error(y_test,pred_test_enet))) 
print("RSS:")
print(r2_score(y_test, pred_test_enet))

MSE:
0.028722137030809444
RSS:
0.9961875992808475